// CSS Reset

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Flexbox

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50vw;
}

.full-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// Font styles

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

// Colors

$color1: #32507A;
$color2: #B2D0FB;
$color3: #66A4FA;
$color4: #57667A;
$color5: #5283C7;
$color6: #eff5ff;
$color7: #101316;
$color8: #10213a;

// Components
.coming-soon-container, .page-container, .homepage, .navbar-container, .splash-container, .about-container, .action-buttons, .schedule-container, .day-container, .form-container, .sponsor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Coming Soon 
.coming-soon-container {
    background-color: $color2;
    max-width: 60vw;
    margin: 5vw 20vw 0vw;
    padding: 10vh 0vw 20vh;
    justify-content: center;
    border-radius: 1vw;
    h1, h2, h3 {
        color: white;
        padding: 1vw;
    }
    .coming-soon-content {
        @extend .full-column;
        justify-content: center;
    }
    .coming-soon-content {
        div.row {
            justify-content: center;
        }
    }
}

.coming-soon-header {
    font-size: 2.5vw;
}

.coming-soon-date, .coming-soon-detail {
    font-size: 2vw;
}

.coming-soon-content-title {
    font-size: 4vw;
    padding: 1vw;
    border-radius: 0.5vw;
    background-color: $color6;
}

// Navbar
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 10vh;
    min-width: 100vw;
    padding: 0.5vw 0vw 0vw;
    background-color: $color6;
    box-shadow: 0vh 1vw 4vw $color7;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-logo {
    height: 3.5rem;
}

.nav-option-row {
    @extend .row;
    justify-content: center;
    padding: 0vh 8vw 0vh 0vw;
}

.logo-container {
    size: 4vh;
}

.nav-button {
    @extend .column;
    justify-content: flex-start;
    color: $color1;
    padding: 1vw;
    font-size: calc(1rem + 1.5vw);
}

.nav-button:hover {
    color: $color3;
    transition: 0.3s;
}

// Splash
.splash-container {
    @extend .column;
    min-height: 100vh;
    padding: 3vw 0vw 0vw;
    background-image: url('../images/people-star.png');
    background-repeat: inherit;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: $color4;
}

.splash-column {
    @extend .column;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.sciweek-header-container {
    position: relative;
    padding: 0vw 0vw 20vw;
    z-index: 3;
}

.sci-week-header {
    position: relative;
    color: white;
    font-size: calc(5rem + 1.5vw);
    text-align: center;
    z-index: 2;
}

.sus-subheader-container {
    @extend .column;
    z-index: 2;
}

.sus-name {
    position: absolute;
    color: white;
    padding: 1vw 0vw 0vw;
    font-size: calc(1.5rem + 1vw);
    text-align: center;
    opacity: 1;
}

.panel-row {
    @extend .row;
    position: relative;
    z-index: 1;
}

.panel1 {
    position: absolute;
    top: -6rem;
    min-width: 48vw;
    min-height: 18vh;
    background-color: $color2;
    opacity: 0.3;
}

.panel2 {
    position: absolute;
    top: -4.25rem;
    min-width: 65vw;
    min-height: 10vh;
    background-color: $color2;
    opacity: 0.3;
}

.action-row {
    @extend .row;
    position: relative;
    padding: 5rem 0vw 0vw;
}

.action-column {
    @extend .column;
}

.action-button-row {
    @extend .row;
    z-index: 2;
}

.action-button {
    padding: 0.5vw;
    margin: 12vw 2vw 0vw;
}

.action-button:hover {
    background-color: $color2;
    color: $color8;
    border-radius: 0.2rem;
    transition: 0.3s;
}

.action-button-text {
    font-size: 2.5rem;
}

// About
.about-container {
    @extend .column;
    min-height: 100vh;
    background-color: $color6;
}

.about-content-header {
    @extend .row;
    padding: 6vh 0vw 0vh;
}

.about-header-text {
    font-size: 5rem;
    text-align: center;
    color: $color7
}

.about-content {
    @extend .row;
    margin: 1vw 10vw;
    padding: 1vh;
    width: 80vw;
    box-sizing: border-box;
    background-color: #e2ecfd;
}

.about-content-text {
    justify-content: flex-start;
    color: $color7;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.5rem;
}

.separator-row {
    @extend .row;
}

.separator-line {
    background-color: $color8;
    height: 0.15rem;
    width: 25rem;
    margin: 2vw;
}

.about-action-button {
    @extend .action-button;
    margin: 3vw;
}

// Schedule / Day of Activities
.schedule-container {
    
}

// Day Detail
.day-container {
    
}

// Registration Form
.form-container {
    
}

// Sponsors Section
.sponsor-container {
    
}